@model List<Card>
<a asp-action="Create" class="btn btn-success">Create</a>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">FullName</th>
            <th scope="col">Position</th>
            <th scope="col">Photo</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Description</td>
                <td>@item.FullName</td>
                <td>@item.Position</td>
                <td><img src="@item.PhotoUrl" alt="Alternate Text" /></td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning" >Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>